<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.db.helper.dao.ZKDBTestDao">

    <sql id="selCols">
        c_id as 'id',
        c_id_2 as 'id2',
        c_int as 'mInt',
        c_value as 'value',
        c_remarks as 'remarks',
        c_json as 'json',
        c_date as 'mDate',
        c_boolean as 'mBoolean'
    </sql>

    <select id="getById" resultType="zkDBTestSampleEntity">
        select
            <include refid="selCols"></include>
        from t_zk_db_test
        <where>
            c_id = #{id}
            <if test="value != null">
                c_value = #{value}
            </if>
        </where>
    </select>

</mapper>