/*
* @Author: Vinson
* @Date:   2019-10-10 15:12:43
* @Last Modified by:   Vinson
* @Last Modified time: 2020-03-10 11:12:12
*/

:root {

	/**
	 * 主题色、背景色、文字色、边框色、高亮背景色、高亮文字色、高亮边框色、激活背景色、激活文字色、激活边框色
	 */

	/* 主题背景色 */
	--primary-color: #1890ff; 
	/* 主题背景色下的 font 字体色 */
	--primary-font-color: #efefef; 
	/* 主题背景色下的 border 边框体色 */
	--primary-border-color: #1890ff; 

	/* 主题 highlight 高亮色 #6ba7fa #0069d9 */
	--primary-h-color: #0069d9;
	/* 主题 highlight 高亮色下的 字体色 #efefef */
	--primary-h-font-color: #efefef;
	/* 主题 highlight 高亮色下的 border 边框体色 #6ba7fa #0062cc */
	--primary-h-border-color: #0062cc; 

	/* 主题 activate 激活色 */
	--primary-a-color: #0062cc;
	/* 主题 activate 激活色下的 字体色 */
	--primary-a-font-color: #efefef;
	/* 主题 activate 激活色下的 border 边框体色 */
	--primary-a-border-color: #0062cc; 


	/* 背景色 */
	--background-color: #f6f6f6; 
	/* 背景色下的 font 字体色 */
	--background-font-color: #595959; 
	/* 背景色下的 border 边框色 */
	--background-border-color: #d6d6d6; 

	/* 背景 highlight 高亮色 */
	--background-h-color: #6ba7fa; 
	/* 背景 highlight 高亮色下的 font 字体色 */
	--background-h-font-color: #1890ff; 
	/* 背景 highlight 高亮色下的 border 边框色 */
	--background-h-border-color: #1890ff; 

	/* 背景 activate 激活色 */
	--background-a-color: #e1f1ff; 
	/* 背景 activate 激活色下的 font 字体色 */
	--background-a-font-color: #1890ff; 
	/* 背景 activate 激活色下的 border 边框色 */
	--background-a-border-color: #1890ff; 
   
}


