/*
* @Author: Vinson
* @Date:   2020-02-19 14:53:35
* @Last Modified by:   Vinson
* @Last Modified time: 2020-03-10 12:07:50
* 
* 
* 
*/

.zk_tab_panel {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    border: 0px solid #8db2e3;
    width: 100%;
    height: 100%;
    position: relative;
}
.zk_tab_spacer{
	height: 2px;
    font-size: 1px;
    line-height: 1px;
    margin-top: -1px;
}
/* tab title 样式 */
.zk_tab_title {
	width: 100%;
    height: 38px;
    line-height: 38px;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
	border-bottom: 1px solid;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: var(--background-color);
    border-color: var(--background-border-color);
}
.zk_tab_title_scroll{
	height: 100%;
	background-color: #fff;
	font-size: 14px;
	display: none;
    color: var(--background-a-font-color);
    background-color: var(--background-color);
    border-color: var(--background-border-color);
}
.zk_tab_title_scroll_left{
    width: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
}
.zk_tab_title_scroll_left:before{
	content: '\00A0\00A0\00A0\00A0';
	width: 18px;
	height: 24px;
    display: inline-block;
    vertical-align: middle;
	background: transparent url(./images/scroll-left.gif) no-repeat 0 0;
	/*background-position-x: -4px;
    background-position-y: -2px;*/
}
.zk_tab_title_scroll_right{
	width: 18px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
}
.zk_tab_title_scroll_right:before{
	content: '\00A0\00A0\00A0\00A0';
	width: 18px;
	height: 24px;
    display: inline-block;
    vertical-align: middle;
	background: transparent url(./images/scroll-right.gif) no-repeat 0 0;
	/*background-position-x: -4px;
    background-position-y: -2px;*/
}
.zk_tab_title_scroll_disabled{
	opacity: .5;
	cursor: default;
    pointer-events: none; /* 禁用事件 */
}
.zk_tab_title_content {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
    /*z-index: 9;*/
	overflow: hidden;
}
.zk_tab_title_scroll_active{

}
.zk_tab_title_scroll_active .zk_tab_title_content{
	left: 18px;
	right: 18px;
}
.zk_tab_title_scroll_active .zk_tab_title_scroll{
	display: block;
}
.zk_tab_title_content>ul{
	height: 100%;
	/*width: 100%;*/
	/*width: 500px;*/
	width: 3000px;
	/*line-height: 32px;*/
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	/*display: block;*/
    /*list-style-type: disc;*/
}
.zk_tab_title_content>ul>li{

}
.zk_tab_title_item{
	width: 100px;
	/*height: 27px;*/
    line-height: 20px;
    padding: 0px;
    margin: 0px 3px; 
	/*padding: 1px 16px 2px 3px;*/
    /*margin: 6px 0 6px 6px;*/
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0 0 0px #e6e6e6;
    /* padding: 9px 16px 9px 5px; */
    /* background-color: #f4f6f8; */
    /* float: left; */
    color: var(--font-color);
    position: relative;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-color: var(--background-border-color);
}
.zk_tab_title_item>div:nth-child(1){
	padding: 0px 16px 0px 7px;
    display: table;
}

.zk_tab_title_item>div:nth-child(1)>span{
	font-size: 12px;
	padding: 0px 0px 0px 3px;
	user-select: none; /* 不允许右键选择 */
    max-width: 58px;
    overflow: hidden;
    display: table-cell;
}
.zk_tab_title_item>div:nth-child(1)>i{
	display: inline-block;
    vertical-align: middle;
}
.zk_tab_title_item .zk_tab_title_item_close{
	background: transparent url(./images/tab-close.png) no-repeat;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 11px;
    height: 11px;
    cursor: pointer;
}
.zk_tab_title_item .zk_tab_title_item_close:hover {
	background: transparent url(./images/tab-close.gif) no-repeat;
}
.zk_tab_title_item_active {
    color: var(--primary-font-color);
	background-color: var(--primary-color);
}

/* tab content 样式 */
.ba_tab_content {
    flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
    background-color: #FFF;
    overflow: hidden;
    position: relative;
    transition: all 50ms;
}
.ba_tab_content_item {
	width: 100%;
    height: 100%;
    background-color: #FFF;
    /*padding: 2px;*/
    /* position: absolute; */
    /* z-index: 0; */
    /* left: 0; */
    /* top: 0;*/
}
.ba_tab_content_item iframe{
	width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

/* tab 右键菜单样式 */
.zk_tab_right_menu {
    position: absolute;
    list-style: none;
    width: 110px;
    z-index: 999999;
    display: none
}

.zk_tab_right_menu div {
    background: #eee;
    position: relative;
    font-size: 13px
}

.zk_tab_right_menu ul {
    position: relative;
    background: #fff;
    border: 1px solid;
    left: -2px;
    top: -2px;
    margin: 0;
    padding: 1px 0;
    border-radius: 3px
    border-color: var(--background-border-color);
}

.zk_tab_right_menu ul li {
    list-style: none;
    text-align: left
    user-select: none; /* 不允许右键选择 */
}
.zk_tab_right_menu_item {
    padding: 4px 12px;
    cursor: pointer;
}
.zk_tab_right_menu_item:hover {
    background-color: var(--background-h-color);
}
.zk_tab_right_menu_item_disabled{
	opacity: .5;
	cursor: default;
    pointer-events: none;
}
.zk_tab_right_menu_item_disabled:hover{
    background-color: #fff;
}

/*.zk_tab_right_menu ul li:nth-last-child(2) {
    opacity: .5;
    cursor: default;
}
.zk_tab_right_menu ul li:last-of-type {
    opacity: .5;
    cursor: default;
}*/







