<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<array><!-- 文件名不能包含 [.]，相同 key 配置在前面的生效，后配置的不会覆盖前面的 -->
				<value>msg/zkMsg_core</value>
			</array>
		</property>
		<property name="useCodeAsDefaultMessage" value="true"/>
		<property name="cacheSeconds" value="3600" />
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
	</bean> 
	
</beans>


