<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">
	
	<!-- 文件名不能包含 [.]，相同 key 配置在前面的生效，后配置的不会覆盖前面的 -->
	<!-- <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>msg/zkMsg_sys</value>
				<value>msg/zkMsg_core</value>
			</array>
		</property>
		<property name="useCodeAsDefaultMessage" value="true"/>
		<property name="cacheSeconds" value="3600" />
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
	</bean>  -->
	
	<!-- 配置 JSR303 Bean Validator 定义 在 java 配置 类中定义
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
	    <property name="validationMessageSource" ref="messageSource"/>
	</bean>   -->
	
	<!-- 异常处理 
	<bean class="com.zk.webmvc.resolver.ZKExceptionHandlerResolver"></bean>  -->
	
	<!-- 这里配置的异常显示界面均仅包括主文件名，至于文件路径和后缀已经在viewResolver中指定
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
	 -->
	<!-- <bean class="com.zk.webmvc.handler.ZKViewExceptionHandlerResolver">   -->
		<!-- <property name="defaultErrorView">    
        	<value>/error/default</value>  
	    </property>   -->
	    <!-- <property name="defaultStatusCode">    
	        <value>444</value>  
	    </property>     --> 
		<!-- <property name="warnLogCategory">    
	        <value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver</value>  
	    </property>  -->
	   <!--  <property name="statusCodes">
		    <map>
		        <entry key="error/400" value="400" />
		        <entry key="error/404" value="404" />
		        <entry key="error/5xx" value="500" />
		    </map>
		</property>   --> 
	    <!-- <property name="exceptionMappings">  
	        <props>  
	            <prop key="java.util.MissingResourceException">/error/missingResource</prop>  
	            这里还可以继续扩展对不同异常类型的处理  
	            文件上传异常 
	            <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">error_fileupload</prop>
	           
	        </props>  
	    </property>    -->
	    <!-- <property name="excludedExceptions">
	    	<array>
	    		<value>com.zk.core.utils.exception.ZKValidatorException</value>
	    	</array>
	    </property> -->
	<!-- </bean>   -->
	
	<!-- 五、请求适配器；[HandlerAdapter]    在 java 配置类中配置，这里只配置一些属性； -->
	<!-- 5.1 适配消息处理 -->
	<bean id="messageConverters" class="org.springframework.boot.autoconfigure.http.HttpMessageConverters" >
		<constructor-arg>
			<array>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="writeAcceptCharset" value="false" /> <!-- 避免响应头过大 -->
					<property name="supportedMediaTypes">
						<list>
							<bean class="org.springframework.http.MediaType">
								<constructor-arg index="0" value="text" />
								<constructor-arg index="1" value="plain" />
								<constructor-arg index="2" value="UTF-8" />
							</bean>
							<value>*/*;charset=UTF-8</value>  
							<value>*/*</value>  
						</list>
					</property>
				</bean>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
		                <list>    
		                    <value>application/json;charset=UTF-8</value>    
		                    <value>text/javascript;charset=UTF-8</value>  
		                    <value>text/html;charset=UTF-8</value>  
		                </list>    
		            </property>   
		            <property name="prettyPrint" value="false"/>  
	                <property name="objectMapper">  
	                    <bean class="com.zk.core.commons.ZKJsonObjectMapper"></bean>  
	                </property>  
				</bean>
			</array>
		</constructor-arg>
	</bean> 
	
</beans>

