/*
* @Author: Vinson
* @Date:   2020-01-26 22:41:39
* @Last Modified by:   Vinson
* @Last Modified time: 2020-03-10 12:07:36
* 
* 
* 
*/

/*** 引入其他 css 文件 */
@import 'css/zk_msg.css';
@import 'css/zk_form.css';
@import 'css/zk_loadding.css';
@import 'css/zk_modal.css';

/*** css 变量研究，未成功
/*$bg:red;*/
/*
.zk_c_t {
	$color:blue; 
	border-top: 1px solid var(--primary-border-color);
	background-color: blue;
	border-left: 1px solid $color; // 无效
	padding: 10px;
	margin: 10px;

}*/

/*** 一些全局样式定义 */
html, body {
	width: 100%;
	height: 100%;
  overflow:hidden;
  /*font-size: 14px;*/
  /*position: absolute;*/
}
html {
  
}

body {

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro',sans-serif;
}
.h2, h2 {
    font-size: 30px;
}
b, strong {
    font-weight: 700;
}

.zk_layout_body {

}

.zk_layout_body_scroll {
  overflow:auto;
}

/* 默认上下布局 */
.zk_layout {
  margin: 0px;
  padding: 0px;
  border: 0px solid;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

/* 左右布局 */
.zk_layout_row {
  flex-direction: row;
  -webkit-flex-direction: row;
}

/* logo  */
.zk_logo {
  width: auto;
  height: 100%;
  line-height: 50px;
}
.zk_logo img {
  /*min-width: 270px;*/
  max-width: 270px;
  max-height: 50px;
  height: 100%;
  vertical-align: middle;
}

/* 头 header css */
.zk_header {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  border-color: var(--primary-border-color);
  height: 50px;
}
.zk_header .zk_logo {
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  font-size: 20px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}

/*** 底 floor css  ***/
.zk_floor {
    height: 32px;
    line-height: 32px;
    text-align: center;
    flex: 0 0 32px;
    -webkit-flex: 0 0 32px;
    border-top: 1px solid;
    background-color: var(--background-color);
    border-color: var(--background-border-color);
    color: var(--background-font-color);
    /* border-top: 1px solid #e1e2e4; */
}
.zk_floor p {
	margin: 0px;
}

/*** 内容 content css  ***/
.zk_content {
	/* width: 100%; */
  /* height: 60%; */
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  /*border: 1px solid;*/
  /*overflow: hidden;*/
}
.zk_wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*** common css  ***/
.zk_pull_left {
	float: left;
	/* float: left!important; */
}
.zk_pull_right {
	float: right;
	/* float: right!important; */
}
.zk_divider {
	border-top: 1px solid;
  background: 0;
  height: 0;
  margin: 6px 0;
  overflow: hidden;
  /*background-color: var(--background-color);*/
  border-color: var(--background-border-color);
  color: var(--background-font-color);
}
.zk_icon_block {
	margin: 0px;
	padding: 6px;
}
.zk_display_none {
    display: none!important;
}
.zk_clearfix {

}
.zk_push_top:hover {
  cursor: pointer;
}
.zk_clearfix:before{
  display: table;
  content: " ";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.zk_clearfix:after{
  clear: both;
  display: table;
  content: " ";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.zk_clear {
  clear:both
}
.zk_btn {
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding: 3px 10px 3px 10px;
  margin-right: 12px;
  font-size: 14px;
  margin-bottom: 2px;
  background-color: var(--background-color);
  color: var(--background-font-color);
  border-color: var(--background-border-color);
}
.zk_btn:focus {
  outline: none;
}
.zk_btn:hover{
  /*background-color: var(--background-h-color);*/
  color: var(--background-h-font-color);
  border-color: var(--background-h-border-color);
}
.zk_input {
  background-color: #fff;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  padding: 3px 6px 4px;
  height: 30px;
  font-size: 14px;
  color: var(--background-font-color);
  border-color: var(--background-border-color);
}
.zk_opt_row{
    
}
.zk_opt_item{
  outline:none;
  border: 0px solid;
  border-bottom: 1px solid;
  margin: 0px 6px;
  padding: 0px 1px;
  background-color: initial; 
  /* text-decoration: underline; */
  color: var(--background-a-font-color);
  border-color: var(--background-a-border-color);
}

.zk_opt_item:hover {
  cursor:pointer
}
.zk_opt_item:focus {
  outline: none;
}

/*
::-webkit-scrollbar {
     width: 10px!important; 
     height: 10px!important; 
     -webkit-appearance: none; 
     background: #f1f1f1;  
}

::-webkit-scrollbar-thumb {
     height: 5px; 
     border: 1px solid transparent; 
     border-top: 0; 
     border-bottom: 0; 
     border-radius: 6px; 
     background-color: red; 
     background-clip: padding-box; 
}
*/



/* 主题相关 */
.zk_primary {
  color: var(--primary-font-color);
  background-color: var(--primary-color);
  border-color: var(--primary-border-color);
}
.zk_primary:hover{
  color: var(--primary-h-font-color);
  background-color: var(--primary-h-color);
  border-color: var(--primary-h-border-color);
}



